<div>
    @{Html.RenderPartial("Category");}
</div>
<div data-bind="visible: !loaded()" class="overlay"><img src="~/Content/spiffy.gif" /></div>
@section scripts
{
    <script src="~/Scripts/Item/ItemQualityVm.js"></script>
    <script src="~/Scripts/Item/ItemVm.js"></script>
    <script src="~/Scripts/Item/SubCategoryVm.js"></script>
    <script src="~/Scripts/Item/CategoryVm.js"></script>
    <script src="~/Scripts/Item/ItemManagerVm.js"></script>
}
