<table class="item-table">
    <thead>
        <tr>
            <th class="col-md-2"></th>
            <th class="col-md-5">Name</th>
            <th class="col-md-5">Base Price (CP)</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: items">
        <tr class="item" data-bind="visible: !edit()">
            <td class="col-md-2">
                <button type="button" class="btn btn-default" data-bind="click: expanded">
                    <span class="glyphicon glyphicon-plus" data-bind="visible: !expand()"></span>
                    <span class="glyphicon glyphicon-minus" data-bind="visible: expand"></span>
                </button>
                <button type="button" class="btn btn-default" data-bind="click:$parent.editItem">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            <td class="col-md-5" data-bind="text: name"></td>
            <td class="col-md-5" data-bind="text: price"></td>
        </tr>
        <tr class="item" data-bind="visible: edit(), with: $parent.itemForEdit">
            <td class="col-md-2">
                <button type="button" class="btn btn-default" data-bind="click: $parents[1].confirmEdit">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: $parents[1].cancelEdit">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </td>
            <td class="col-md-5" data-bind="text: name"></td>
            <td class="col-md-5">
                <input class="form-control" data-bind="text: price,value:price" type="text" placeholder="Base Price" />
            </td>
        </tr>
        <tr data-bind="visible:expand" class="expanded">
            <td class="expanded"></td>
            <td colspan="12">
                @{ Html.RenderPartial("ItemQuality");}
                @*<button class="btn btn-block btn-primary" data-bind="click:$parent.addNewQuality">Add New Quality</button>*@
            </td>
            <td></td>
        </tr>
    </tbody>

</table>