<div data-bind="visible: !loaded()" class="overlay"><img src="~/Content/spiffy.gif" /></div>
<div>
    @{Html.RenderPartial("OrderForm");}
</div>

@section scripts
{
    <script src="~/Scripts/OrderForm/OrderFormProductsVm.js"></script>
    <script src="~/Scripts/OrderForm/OrderFormVm.js"></script>
    <script src="~/Scripts/OrderForm/ManagerVm.js"></script>
}
@section modals{
    @{ Html.RenderPartial("OrderConfirmModal");}
}