<div>
    @{Html.RenderPartial("OrderForm");}
</div>

@section scripts
{
    <script src="~/Scripts/OrderForm/OrderFormProductsVm.js"></script>
    <script src="~/Scripts/OrderForm/OrderFormVm.js"></script>
    <script src="~/Scripts/OrderForm/ManagerVm.js"></script>
}