@{
    ViewBag.Title = "Home Page";
}

<div class="cardinal">
    <h1 style="font-size:70pt;">Caridia Crossroads Market Place</h1>
    <h2 style="font-size:32pt;">Welcome to the Caridia Crossroads Market Place</h2>
</div>
&nbsp;
&nbsp;
<div>
    <img src="~/Content/livemap.PNG">
</div>