@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="align-content:center">
    <h2>Caridia Crossroads Market Place</h2>
    <h4>Welcome to the Caridia Crossroads Market Place</h4>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Order Form", "Index", "OrderForm")</li>
        <li>@Html.ActionLink("Item Management", "Index", "Item")</li>
    </ul>
    <br />
</div>
<div>
    <img src="~/Content/livemap.PNG" >
</div>