<!-- The Modal -->
<div id="adminModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <h2 style="text-align: center">This is an admins only page. Please Enter your password:</h2>
        <br/>
        <input style="align-self:center"class="form-control" data-bind="value:enteredPassword" type="password" />
        <br />
        <button class="btn btn-default btn-primary" data-bind="click:checkAccess()">Login</button>
    </div>

</div>
